.border{
    border: 2px solid black;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1) !important;
}

.bg-grey{
    background-color: #161515;
}

.rounded{
    border-radius: 7px;
}

.p-1{
    padding: 15px;
}

.m-1{
    margin: 5px;;
}

/* For Webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #252424; /* Dark background for scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #555; /* Darker color for scrollbar thumb */
    border-radius: 10px;
    border: 3px solid #252424; /* Creates a gap between thumb and track */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #888; /* Slightly lighter color on hover */
  }
  
  /* For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #555 #252424;
  }

  