* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --a: 0;
}

body {
  background-color: black;
  overflow: hidden;
  /* display: flex; */
}

.left {
  padding: 6px;
  width: 25vw;
  height: 100%;
}

.right {
  margin: 11px 0;
  margin-right: 12px;
  width: 75vw;
  height: 98vh;
  position: relative;
}

.homeButton {
  cursor: pointer;
}

.searchButton {
  cursor: pointer;
}

.searchBar {
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
}

#search-bar {
  border: 1px solid #999;
  border-radius: 20px;
  height: 25px;
  padding-left: 40px;
  font-size: 18px;
  color: #666;
  background-color: #f2f2f2;
  transition: all 0.3s ease-in-out;
  width: 280px;
}

#search-bar:focus {
  border-color: #005ff9;
  outline: #005ff9;
}

#search-button {
  position: absolute;
  left: 3px;
  background: none;
  border: none;
  cursor: pointer;
}

#search-button img {
  width: 18px;
  height: 18px;
}

.navigation {
  display: flex;
}

.home ul li {
  display: flex;
  width: 18px;
  gap: 15px;
  padding-top: 14px;
  list-style: none;
  font-weight: bold;
}

.home ul li a {
  display: block;
}

.heading {
  display: flex;
  width: 100%;
  gap: 15px;
  padding: 21px 10px;
  font-weight: bold;
  font-size: 15px;
}

.library {
  min-height: 81vh;
  position: relative;
}

.heading img {
  width: 25px;
}

.footer {
  display: flex;
  font-size: 11px;
  gap: 15px;
  position: absolute;
  bottom: 0;
  padding: 15px;
  margin-bottom: 8px;
  /* height: 1%; */
}

.footer a {
  color: grey;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #252424;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  /* height: 72px; */
}

.header > * {
  padding: 15px;
  /* gap: 1000px; */
}

.forward {
  cursor: pointer;
}

.backward {
  cursor: pointer;
}

.spotifyPlaylist {
  padding: 16px;
}

.topics {
  overflow-y: auto;
  max-height: 80.5vh;
}

.logo {
  display: flex;
}

.cardContainer {
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: center; */
  overflow-x: auto;
  gap: 10px;
  margin: 10px;
  max-width: 1365px;
}

.addPlaylist {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%; 
}

.card {
  background-color: #252424;
  border-radius: 10px;
  min-width: 198.5px;
  max-width: 198.5px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  height: 350px;
  cursor: pointer;
  transition: all 1s;
}

.card:hover {
  background-color: #484747;
  --a: 1;
}

.card img {
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
}

.card h1 {
  padding-top: 10px;
  font-size: x-large;
}

.card p {
  padding-top: 10px;
  word-break: break-all;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 170px;
}

.play {
  position: absolute;
  top: 155px;
  right: 17px;
  z-index: 1;
  opacity: var(--a);
  transition: all 1s ease-out;
}

.buttons > * {
  margin: 0 12px;
}

.buttons a {
  text-decoration: none; /* Removes underline */
  color: inherit; /* Inherits the color from its parent */
  cursor: pointer; /* Makes the cursor behave like a pointer */
}

.signupbtn {
  background-color: rgb(34 34 34);
  color: rgb(156, 148, 148);
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

.signupbtn:hover {
  font-size: 17px;
  color: white;
}

.loginbtn {
  background-color: white;
  border-radius: 21px;
  color: black;
  padding: 10px;
  border: none;
  outline: none;
  width: 79px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease; /* Smooth transition */
  transform-origin: center;
}

.loginbtn:hover {
  font-weight: bold;
  transform: scale(1.1);
}

.logoutbtn {
  background-color: white;
  border-radius: 21px;
  color: black;
  padding: 10px;
  border: none;
  outline: none;
  width: 79px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease; /* Smooth transition */
  transform-origin: center;
}

.logoutbtn:hover {
  font-weight: bold;
  transform: scale(1.1);
}

.hamburger {
  display: none;
}

.close {
  display: none;
}

.songbuttons {
  justify-content: center;
  display: flex;
  gap: 16px;
}

.songbuttons img {
  cursor: pointer;
}

.songlist ul {
  padding: 0 10px;
  overflow-y: auto;
  max-height: 69vh;
}

.songlist ul li {
  list-style-type: none;
  gap: 10px;
  background-color: #252424;
  display: flex;
  margin: 10px;
  height: 70px;
  border-radius: 10px;
  padding: 7px;
  position: relative;
  cursor: pointer;
}

.songlist ul li .info {
  padding: 4px;
  width: 60%;
  overflow: hidden;
}

.info div {
  word-break: break-all;
}

.trackname {
  font-size: medium;
}

.artist {
  padding-top: 4px;
  font-size: small;
}

.noResult {
  font-size: x-large;
  color: rgb(183, 36, 36);
  padding: 10px;
}

.songlist ul li img {
  object-fit: contain;
  border-radius: 10px;
  /* border: 4px solid #4c4c4c; */
}

.songlist ul li .playnow {
  left: 12px;
  top: 13px;
  position: absolute;
  cursor: pointer;
}

.playnow {
  /* background-color: #000000; */
  /* opacity: 0.6; */
  display: none;
}

.seek-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 0.5px;
}

.seekbar {
  width: 70%;
  height: 2px;
  background-color: #00ff00;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.circle {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 0%;
  top: -5px;
  z-index: 2;
  transition: left 0.5s;
}

.playbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 2px;
  background-color: #000000;
  border-radius: 10px;
  right: 0;
  left: 0;
  padding: 13px;
  z-index: 2;
  min-height: 40px;
  width: calc(100% - 25px);
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  font-size: 22px;
  padding: 0 15px;
}

.songinfo {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  text-align: left;
  padding-right: 4px;
}

.controls {
  display: flex;
  align-items: center;
}

.songbuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px; /* Adjust as needed */
}

.songtimer {
  text-align: right;
  margin-right: 2px; /* Add spacing between the timer and the volume */
  text-align: right;
  padding-left: 4px;
  padding: 0 6px;
  margin-top: 2px;
  /* word-break:var("/"); */
}

.vol-timer {
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.volume {
  position: relative;
  float: right;
  margin-left: 10px; /* Add space between the timer and volume button */
  cursor: pointer;
}

.volume-range {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 100px;
  display: none;
  writing-mode: bt-lr;
  /* cursor: pointer; */
}

.volume:hover .volume-range {
  display: block;
}

.marquee-container {
  width: 200px; /* Adjust this width to your needs */
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.marquee {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 6s linear infinite;
}

@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.flashes {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}
.flashes li {
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}
.success {
  background-color: #d4edda;
  color: #155724;
}
.danger {
  background-color: #f8d7da;
  color: #721c24;
}
.flashes .info {
  background-color: #e7f3fe;
  border-color: #b8dbfd;
  color: #0366d6;
}

/* Modal Content/Box */
.modal-content {
  background-color: #252424;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
.modal label{
  font-size: x-large;
}

.modal input {
  background-color: #161515;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal button {
  padding: 10px;
  margin-left: 20px;
  background-color: #00ff00;
  border: none;
  border-radius: 20px;
  color: #000000;
  cursor: pointer;
  transition: all 0.3s ease;
  transform-origin: center;
}

.modal button:hover {
  font-weight: bold;
  transform: scale(1.1);
}

.close1 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close1:hover,
.close1:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}




@media (max-height: 931px) {
  .library {
    min-height: 79%;
    position: relative;
  }

  .songlist ul {
    overflow-y: auto;
    max-height: calc(69vh - 20px);
  }
}

@media (min-height: 1000px) {
  .library {
    min-height: 82%;
  }

  .songlist ul {
    max-height: 71vh;
  }
}

@media (min-height: 1000px) {
  .playbar {
    top: calc(84.6vh);
    bottom: 8vh;
    /* opacity: 0.7; */
  }
  .topics {
    max-height: 78.5vh;
  }
  .right {
    max-height: 89vh;
  }
}

@media (min-height: 1140px) {
  .library {
    min-height: 84%;
  }
  .playbar {
    min-height: 75px;
  }
  .songlist ul {
    max-height: 74vh;
  }
}

@media (min-height: 1300px) {
  .library {
    min-height: 86%;
  }

  .songlist ul {
    max-height: 77vh;
  }
}
@media (max-width: 1750px) {
  .trackname {
    width: 80%;
  }
  .artist {
    width: 80%;
  }
}

@media (max-width: 1457px) {
  .left {
    background-color: black;
    position: absolute;
    left: -110%;
    transition: all 0.3s;
    z-index: 3;
    width: 365px;
  }

  .footer {
    font-size: 8px;
  }

  .right {
    left: 1vw;
    width: 98vw;
    margin: 4px 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .close {
    display: block;
    cursor: pointer;
  }

  .logo {
    justify-content: space-between;
  }

  .seek-container {
    justify-content: space-between;
  }

  .seekbar {
    width: 99%;
  }

  .details {
    font-size: large;
  }

  .cardContainer {
    min-height: 25vh;
    max-width: 94vw;
  }

  .card {
    width: 180px;
    height: 300px;
  }

  .card h1 {
    font-size: large;
  }

  .card p {
    font-size: small;
  }

  .play {
    top: 138px;
    right: 12px;
  }

  .info div {
    width: 135px;
  }

  .trackname {
    font-size: small;
  }

  .artist {
    font-size: x-small;
  }
}

@media (max-width: 670px) {
  .cardContainer {
    max-height: 285px;
    max-width: 92vw;
  }
  .marquee-container {
    width: 140px; /* Adjust this width to your needs */
  }

  .card {
    min-width: 145px;
    max-height: 265px;
  }

  .card h1 {
    font-size: large;
  }

  .card p {
    font-size: small;
  }

  .play {
    top: 103px;
    right: 12px;
  }
}

@media (max-width: 480px) {
  .songinfo {
    font-size: small;
  }
  .marquee-container {
    width: 80px; /* Adjust this width to your needs */
  }

  .songtimer {
    font-size: small;
    display: none;
  }
}
